<template>
  <section class="container">
    <div>

      <h1 class="title">
        nuxt-chat
      </h1>
      <h2 class="subtitle">
        chat app with feathers and nuxtjs
      </h2>
      <hr>
      <ul>
   
        <li v-for="message in messages" :key="message._id">
          <strong>{{ message.name}}</strong>
          <p>{{message.body}}</p>
          <hr>
        </li>

      </ul>
      <form>
        <input type="text" placeholder="name" v-model="name">
        <textarea placeholder="write message..." v-model="newMessage" name="" id="" cols="15" rows="5">

        </textarea>
        <button type="submit" @click="postMessage">post message</button>
      </form>



    </div>
  </section>
</template>

<script>

import axios from 'axios'
import feathers from '@feathersjs/client'
import socketio from '@feathersjs/socketio-client'
import io from 'socket.io-client'



export default {
  data() {
    return {
      messages: [],
      newMessage: '',
      name: ''
    }
  },

  created() {

     return axios.get('http://localhost:3030/messages')
    .then( (response) => {
       this.messages = response.data.data
    })
  },

  methods: {

    postMessage: function(e) {
      e.preventDefault()
      axios.post('http://localhost:3030/messages', {
        body: this.newMessage,
        name: this.name
      }).then((response) => {
        console.log(response)
        this.newMessage = ''
      })

    }
  },

  mounted() {
    let socket = io('http://localhost:3030')
    const app = feathers().configure(socketio(socket))
    app.service('messages').on('created', (message) => {
      this.messages.push(message)
    })
  }
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
